<div id="detailModal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="detailModalTitle" name="detailModalTitle"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <form class="" role="form" id="detailForm" name="detailForm">
                <div class="row" id ="fileUpload" style = "margin:10px 3px 3px 20px"></div>
                <div class="modal-body" id="detailModalBody" name="detailModalBody">
                   
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info" style="margin-right: 5px;" id="btnDetailSave" name="btnDetailSave"><i class="fa  fa fa-save"> </i> Guardar</button>
                    <button data-dismiss="modal" class="btn btn-info" style="margin-right: 5px;" id="btnDetailClose" name="btnDetailClose"><i class="fa  fa fa-close"> </i> Cerrar</button>
                </div>
            </form>
        </div>
    </div>
</div>