
<div class="card">
    <div class="card-header" id = "cardHeader">
      <h3 class="card-title">__MODULO__ :  __ID__</h3>      
    </div>
    <hr>
    <div class="card-body p-3">      
        <div class="card-deck">
            __CONTENT__
        </div>
    </div>
    
    <div class = "card-footer">
        <input type="hidden" class="form-control" id="hKeyParams" name="hKeyParams" placeholder="" value="__HKEYPARAMS__"> 
        <!--<input type="hidden" class="form-control" id="extraParams" name="extraParams" placeholder="" value="__EXTRAPARAMS__">-->
        
    </div>
  </div>
  <!-- /.card -->
  <script>
 
    </script>