<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
	<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />	
	<body>
	<table width = "90%" align = "center">
	<tr>
	<td colspan = "3">
		Se ha solicitado cambiar la contraseña para el usuario __USUARIO__ <br/>
		Para realizar el cambio copie y pegue la siguiente dirección en su navegador y siga las instrucciones : <br /> 
		__LINK__ <br/>
	</td>
	</tr>
	<tr>
	<td>	
	<a href = "http://www.covaf.com"><img src = "https://www.covaf.com/covaf/portal/images/logo_covaf.gif" alt = "Covaf" border = "0"></a>
	</td>
	<td>
	Reforma 295, piso 4, Col. Cuauhtemoc, C.P. 06500, México D.F.<br/>
	Tels: +(52.55) 5062.0045, Fax: +(52.55) 5062.0041 / 5062.0042<br/>
	covaf@covaf.com <br/>
	</td>
	<td>
	<img src = "https://www.covaf.com/covaf/portal/images/logo_ISO.jpg">
	</td>
	</tr>
	</table>
	</body>