<div class="card">
    <div class="card-header">
      <h3 class="card-title">__NOMBRE__</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body p-0">
      <table class="table table-striped">
        <thead>
          <tr>            
            <th>Nombre</th>
            <th>Status</th>            
          </tr>
        </thead>
        <tbody>
          __ITEMS__
        </tbody>
      </table>
    </div>
    <!-- /.card-body -->
    <div class = "card-footer">
        <input type="hidden" class="form-control" id="hKeyParams" name="hKeyParams" placeholder="" value="__HKEYPARAMS__"> 
        <input type="hidden" class="form-control" id="extraParams" name="extraParams" placeholder="" value="__EXTRAPARAMS__">
        <!--<button class="btn btn-info" style="margin-right: 5px;" id = "btnFAdd" name = "btnFAdd"><i class="fa  fa fa-save"> </i> Guardar</button>-->
    </div>
  </div>
  <!-- /.card -->
