#Ignore files
.htaccess
config.php
log.php
db/dbCredentials.php
logs/sysLog.log
.htaccess
.user.ini
php.ini
error_log

#Ignore links
pw
pwutils
repository

#Ignore folders
logs
./pw
./pwutils
./repository
log.php
.vscode/
