<div id="detailModal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id = "detailModalContent">
            <div class="modal-header" id = "detailtModalHeader">
                <h4 class="modal-title" id="detailModalTitle" name="detailModalTitle"></h4>
                <div class="spinner-grow text-success  spinner-grow-sm modalSpinner" role="status"></div>
                <div class="spinner-grow text-warning  spinner-grow-sm modalSpinner" role="status"></div>
                <div class="spinner-grow text-info     spinner-grow-sm modalSpinner" role="status"></div>                
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="row" id ="fileUpload" style = "margin:10px 3px 3px 20px"></div>

            <!--<form class="" role="form" id="detailForm" name="detailForm">-->                
                <div class="modal-body" id="detailModalBody" name="detailDefaultModalBody"></div>
                <div class="modal-footer" id = "detailModalFooter">                    
                    __BTNSAVE__
                    <button data-dismiss="modal" class="btn btn-info" style="margin-right: 5px;" id="btnDetailClose" name="btnDetailClose"><i class="fa  fa fa-close"> </i> Cerrar</button>
                </div>
            <!--</form>-->
        </div>
    </div>
</div>